extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content

    main.main
        div.user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('#', 'Settings', 'settings', true)
                    +navItem('/my-tours', 'My Bookings', 'briefcase', false)
                    +navItem('#', 'My Reviews', 'star', false)
                    +navItem('#', 'Billing', 'credit-card', false)

                - if (user.role === 'admin')
                    div.admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('#', 'Manage Tours', 'map', false)
                            +navItem('#', 'Manage Users', 'users', false)
                            +navItem('#', 'Manage Reviews', 'star', false)
                            +navItem('#', 'Manage Bookings', 'briefcase', false)

            div.user-view__content
                div.user-view__form-container
                    h2.heading-secondary.ma-bt-md Account Settings
                    //- form.form.form-user-data(action='/update-user-data' method='POST' enctype='multipart/form-data')
                    form.form.form-user-data
                        div.form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
                        div.form__group.ma-bt-md
                            label.form__label(for='email') Email Address
                            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                        div.form__group.form__photo-upload
                            img.form__user-photo(src=`img/users/${user.image}`, alt='User Image')
                            input.form__upload(type='file', accept='image/*', id='image', name='image')
                            label(for='image') Select Image
                        div.form__group.right
                            button.btn.btn--small.btn--green Save Settings

                div.line &nbsp;

                div.user-view__form-container
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-password
                        div.form__group
                            label.form__label(for='password-current') Current Password
                            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        div.form__group
                            label.form__label(for='password') New Password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        div.form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm Password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        div.form__group.right
                            button.btn.btn--small.btn--green.btn--save-password Save Password